// abstracts/_mixins.scss

// Al invocar el mixin, deberá entregarse como parámetro un nombre de breakpoint:
// podrá ser: mobile, tablet o desktop
@mixin respond-to($breakpoint) {
  @if $breakpoint == "mobile" {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $breakpoint == "tablet" {
    @media (min-width: 768px) and (max-width: 991px) {
      @content;
    }
  } @else if $breakpoint == "desktop" {
    @media (min-width: 992px) {
      @content;
    }
  }
}
