// main.scss Manifest File

// abstracts
@use "./abstracts/variables";
@use "./abstracts/mixins";

// vendors
@use "./vendors/bootstrap";

// base

// layout
@use "./layout/footer";

// components
@use "./components/benefits"; // pages

// themes
